html {
    background: url(../images/background.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-backgound-size: cover;
        -o-background-size: cover;
        background-size: cover;
    background-color: rgba(92, 92, 92, 0.9);
    background-blend-mode: multiply;
}

body {
    background: none;
    background-color: transparent;
}

/* Title */

#main-header {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 80px;
    font-family: 'Star Jedi';
    color: rgba(236, 205, 0, 1);
}

/* Cards */

.character-group {
    min-height: 396px;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(236, 205, 0, 1);
}

.character-group-title {
    font-family: 'Distant Galaxy';
    background-color: rgba(236, 205, 0);
    color: black;
}

.character-card {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color:rgb(50, 50, 50);
}

/* Attack Text */

#attack-txt,
#counter-attack-txt {
    min-height: 30px;
    font-size: 20px;
    font-weight: bold;
    color: rgba(236, 205, 0, 1);
}

/* Buttons */

#attack-btn {
    width: 100px;
    height: 100px;
    padding-bottom: 10px;
    border-radius: 50px;
    font-size: 25px;
}

#play-again-btn {
    margin: 10px;
    font-weight: bold;
    background-color: rgba(236, 205, 0, 1);
}

/* Fonts */

@font-face {
    font-family: 'Star Jedi';
    src: url(../fonts/Starjedi.ttf);
}

@font-face {
    font-family: 'Distant Galaxy';
    src: url(../fonts/DistantGalaxy.ttf);
}